---
import HeadingOfSection from './HeadingOfSection.astro';
import { infoHeading } from '../data/headings';
import InfoCard from './InfoCard.astro';
import infoFirstRow from '../data/infoFirstRow';
import infoSecondRow from '../data/infoSecondRow';
---

<section
  id='about'
  class='bg-transparent relative flex flex-col justify-center xl:px-0 scroll-mt-16 sm:scroll-mt-14 md:scroll-mt-10 snap-start mx-10'
>
  <canvas
    class='animated-bg left-0 top-0 absolute z-0 inset-0 min-h-dvh block w-full'
  ></canvas>

  <div
    class='w-full overflow-x-hidden min-h-dvh z-10 flex flex-col justify-center gap-14 sm:gap-6 md:gap-6 relative'
  >
    <div class='flex justify-center items-center h-auto py-10'>
      <HeadingOfSection heading={infoHeading} />
    </div>
    <div
      class='flex w-full justify-center gap-14 sm:gap-6 md:gap-6 flex-wrap md:flex-nowrap'
    >
      {
        infoFirstRow.map(({ title, classNames, content }) => (
          <InfoCard {title} {classNames} {content} />
        ))
      }
    </div>
    <div
      class='flex w-full justify-center gap-14 sm:gap-6 md:gap-6 flex-wrap md:flex-nowrap sm:flex-nowrap'
    >
      {
        infoSecondRow.map(({ title, classNames, content }) => (
          <InfoCard {title} {classNames} {content} />
        ))
      }
    </div>
  </div>
</section>
