---
import { navLinks, mobileLinks } from '../data/links';
import BrandLink from './BrandLink.astro';
import MobileMenuButton from './MobileMenuButton';
import NavLink from './NavLink.astro';
---

<nav
  class='navbar fixed flex items-center justify-between w-full p-4 md:p-8 z-50 h-16 md:h-27 backdrop-blur-xs'
>
  <div>
    <BrandLink firstWord='KONEKTA' secondWord='FRONTEND' path='/' />
  </div>
  <ul class='hidden md:flex gap-4 font-semibold items-center'>
    {
      navLinks.map((link) => (
        <NavLink
          title={link.title}
          path={link.path}
          className={`${link.className}`}
          isDesktop={true}
        />
      ))
    }
  </ul>

  <MobileMenuButton client:only='react' />

  <ul
    id='mobile-menu'
    class='absolute flex left-[100%] top-0 w-screen h-dvh flex-col gap-6 items-center justify-center bg-black md:hidden'
  >
    {
      mobileLinks.map((link) => (
        <NavLink
          title={link.title}
          path={link.path}
          className={`${link.className}`}
          isDesktop={false}
          listElementClassName={`${link.listElementClassName}`}
        />
      ))
    }
  </ul>
</nav>
