---
import { Image } from 'astro:assets';
import speakersData from '../data/speakers';
---

<section
  id='speakers'
  class='sm:py-20 bg-gray-950 text-white scroll-mt-16 sm:scroll-mt-14 md:scroll-mt-10 snap-start'
>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex justify-center items-center h-auto py-10'>
      <h3 class='font-bold font-headings text-white text-center text-3xl z-10'>
        <span
          class='bg-linear-to-r from-amber-500 to-orange-500 bg-clip-text
      text-transparent'
          >NUESTROS
        </span>

        <span
          class='bg-linear-to-r from-amber-300 to-red-300 bg-clip-text text-transparent'
          >PONENTES</span
        >
      </h3>
    </div>

    <div
      class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-8'
    >
      {
        speakersData.map((speaker) => (
          <div class='bg-amber-300/80 rounded-lg shadow-xl p-6 text-center transform hover:scale-105 transition duration-300 ease-in-out border border-white'>
            <Image
              src={speaker.image}
              alt={`Foto de ${speaker.name}`}
              width={speaker.image.width}
              height={speaker.image.height}
              class='w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-black shadow-md'
              format='webp'
              quality={80}
              loading='lazy'
            />
            <h3 class='text-2xl font-bold mb-2 text-black'>{speaker.name}</h3>
            <p class='text-black/80 text-lg'>{speaker.position}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
